#first_heading {
	background-image:url("animal kingdom.jpg");
	width: 400px;
	height: 70px;
	 font-family: "Times New Roman", Times, serif;
	 font-size: 30px;
	 font-weight: bold;
	 margin: auto;
	 text-align: center;
	 color: green;
	 border-radius: 15px;
}

.button {
    background-color: #20B2AA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 100px 555px;
    cursor: pointer;
    position: relative;
     border-radius: 10px;
}

.h1 {
    background-image:url("animal kingdom.jpg");
    border-color: green;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: serif;
    display: inline-block;
    font-size: 50px;
    margin: 30px 400px;
    position: relative;
     border-radius: 10px;
     
